%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'группы' => admin_groups_path, @group.name.presence => edit_admin_group_path(@group), 'журналы посещаемости' => '#'}
      %h3.tx-center Журналы посещаемости
      = form_for @group, url: admin_group_attendance_log_path(@group), method: :put, html: {class: 'form js-form form__admin', autocomplete: 'off'} do |f|
        .admin_header
        .admin_body
          .admin_settings_change
            .mt-1
              - @group.attendance_logs.each do |document|
                %div= link_to document.file_name, download_admin_generated_document_path(document)
            .mt-2.header_blocks_settings
              .tx-s.tx-700 Копии журналов
            .mt-1.edit_materials
              .grid
                = f.fields_for :document_copies do |document_copy_fields|
                  .grid_i.grid_i__middle.grid_i__grid-1-2>
                    = render 'admin/students/document_copy_fields', f: document_copy_fields
                .grid_i.grid_i__middle.grid_i__grid-1-2>
                  .form_el.js-form_el.form_file
                    %p.form_el_inner.form_file_inner.a_under
                    .icon_add +
                    %span.a_under Загрузить
                    %input.form_el_tag.form_file_tag.js-document-copy{:type => 'file'}
          .grid.mt-2
            .grid_i.grid_i__grid-1-2>
              .form_el.js-form_el.form_btn.form_el_block
                %p.form_el_inner.form_btn_inner Сохранить
                = button_tag type: 'submit', class: 'form_el_tag form_btn_tag'

        - content_for :js do
          %script#document_copy_template{type: 'text/template'}
            = f.fields_for :document_copies, DocumentCopy.new, child_index: '__id__', include_id: false do |document_copy_fields|
              .grid_i.grid_i__middle.grid_i__grid-1-2>
                = render 'admin/students/document_copy_fields', f: document_copy_fields
          = javascript_include_tag 'admin/subscription_contract'
          = javascript_include_tag 'admin/edit_user_from'