%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'группы вакансий' => admin_vacancy_groups_path}
      %h3.tx-center Группы вакансий
      .form__admin
        .admin_header.tx-center
          .header_inner
            = link_to new_admin_vacancy_group_path, class: 'a_under' do
              %span.icon-add> +
              Добавить группу вакансий
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-5-9>
                %p название
              .grid_i.grid_i__grid-4-9>
                %p.tx-right
                  действия
          .grid.grid__collapse
            = render collection: @vacancy_groups, partial: 'vacancy_group'
      = will_paginate @vacancy_groups, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0