%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {t("#{scope_name}_title").mb_chars.downcase => url_for(action: :index)}
      %h3.tx-center= t("#{scope_name}_title")
      .form__admin
        .admin_header.tx-center
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-8-9>
                %p название
              .grid_i.grid_i__grid-1-9>
                %p.tx-right
                  действия
          .grid.grid__collapse
            = render collection: @lookups, partial: 'lookup', as: :lookup
      = will_paginate @lookups, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
