%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'студенты' => admin_students_path, @student.display_name => edit_admin_student_path(@student), 'платежи' => '#'}
      %h3.tx-center ПЛАТЕЖИ
      .form__admin
        .admin_header.tx-center
          .header_inner
            = link_to new_admin_student_payment_log_path(@student), class: 'a_under' do
              %span.icon-add> +
              Добавить платеж
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-2-12>
                %p дата
              .grid_i.grid_i__grid-1-12>
                %p сумма
              .grid_i.grid_i__grid-2-12.tx-center>
                %p тип
              .grid_i.grid_i__grid-2-12.tx-center>
                %p вид
              .grid_i.grid_i__grid-2-12.tx-center>
                %p группа
              .grid_i.grid_i__grid-2-12.tx-center>
                %p обоснование
              .grid_i.grid_i__grid-1-12.tx-right>
                действия
          .grid.grid__collapse
            = render collection: @payment_logs, partial: 'payment_log'
      = will_paginate @payment_logs, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0