- call_options = params.permit!.merge({name: current_user.full_name, phone: current_user.phone}) if user_signed_in?
= render 'banner'
= render 'notice'
= render 'reasons'
= render 'promo', call_options: call_options, promo_caption: 'Оставьте свои контактные данные и&nbsp;<b>гарантированно получите</b> онлайн-курс в&nbsp;подарок!'
= render 'feedbacks'
= render 'skills'
= render 'footer'
= render 'popup', call_options: call_options