!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xmlns:o' => 'urn:schemas-microsoft-com:office:office', 'xmlns:v' => 'urn:schemas-microsoft-com:vml'}
  %head
    /[if gte mso 9] <xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    %title ДОМ РУССКОЙ КОСМЕТИКИ
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    :css
      a{
      	  outline:none;
      	  color:#000;
      	  text-decoration:underline;
      }
      a:hover{text-decoration:none !important;}
      .h-u a{text-decoration:none;}
      .h-u a:hover{text-decoration:underline !important;}
      a[x-apple-data-detectors]{color:inherit !important; text-decoration:none !important;}
      a[href^="tel"]:hover{text-decoration:none !important;}
      .active-i a:hover,
      .active-t:hover{opacity:0.8;}
      .cta,
      .active-i a,
      .active-t{transition:all 0.3s ease;}
      a img{border:none;}
      b, strong{font-weight:700;}
      th{padding:0;}
      table td{mso-line-height-rule:exactly;}
      .ns span, .ns a{color:inherit !important; text-decoration:none !important; border:none !important;}
      .cta:hover{background:#3734c2 !important;}
      .cta:hover a{color:#fff!important;}
      @media only screen and (max-width:375px) and (min-width:374px) {
      	.gmail-fix{min-width:374px !important;}
      }
      @media only screen and (max-width:414px) and (min-width:413px) {
      	.gmail-fix{min-width:413px !important;}
      }
      @media only screen and (max-width:500px) {
      	.w-100p{width:100% !important;}
      	.tflex{display:block !important; width:100% !important; box-sizing:border-box !important;}
      	.ta-c{text-align:center !important;}
      	.w-60p{width:60% !important;}
      	.wi-100p img{width:100% !important; height:auto !important;}
      	.p-0{padding:0 !important;}
      	.p-10{padding:10px !important;}
      	.p-15{padding:15px !important;}
      	.plr-10{padding-left:10px !important; padding-right:10px !important;}
      	.ptb-30{padding-top:30px !important; padding-bottom:30px !important;}
      	.fs-13{font-size:13px !important;}
      	.lh-16{line-height:16px !important;}

      	.bb-3734c2{border-bottom:1px solid #3734c2 !important;}
      }
  %body{:style => 'background:#e6e5f2; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;'}
    %table.gmail-fix{:cellpadding => '0', :cellspacing => '0', :style => 'background:#e6e5f2; min-width:320px;', :width => '100%'}
      %tr
        %td{:style => 'display:none; font-size:0; line-height:0;'}
          Почему все идут к нам?
      %tr
        %td.p-10{:style => 'padding:30px 10px;'}
          %table.w-100p{:align => 'center', :cellpadding => '0', :cellspacing => '0', :style => 'max-width:600px; margin:0 auto;', :width => '600'}
            %tr
              %td{:bgcolor => '#ffffff', :style => 'box-shadow:0 0 50px rgba(11, 11, 11, 0.2);'}
                %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                  %tr
                    %td.ptb-30.plr-10{:style => 'padding:16px 38px 23px;'}
                      %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                        %tr
                          %th.tflex{:align => 'left', :style => 'vertical-align:top;', :width => '74'}
                            %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                              %tr
                                %td{:align => 'center'}
                                  = link_to 'https://www.cosmeticru.com/?utm_source=email&amp;utm_medium=email_outofcloud&amp;utm_campaign=t2.1', style: 'text-decoration:none;' do
                                    = image_tag image_url('mailing_letters/logo.png'), alt: 'ДОМ РУССКОЙ КОСМЕТИКИ', style: 'width:74px; vertical-align:top;', width: '74'
                          %th.tflex{:height => '20', :width => '10'}
                          %th.tflex{:align => 'left'}
                            %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                              %tr
                                %td.ta-c{:align => 'right', :style => 'padding:6px 0 0; font:19px/21px Times New Roman, Times, serif; color:#3734c2;'}
                                  %a{:href => 'tel:+74951912324', :style => 'color:#3734c2; text-decoration:none;'} +7 (495) 191-23-24
                  %tr
                    %td.p-10{:align => 'center', :bgcolor => '#3734c2', :style => 'padding:18px 10px 19px;'}
                      %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                        %tr
                          %td
                            %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                              %tr
                                %th.tflex{:align => 'left', :style => 'vertical-align:top;', :width => '50%'}
                                  %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                                    %tr
                                      %td.w-60p.fs-13.lh-16{:align => 'center', :style => 'font:bold 10px/12px Arial, Helvetica, sans-serif; color:#fff;', :width => '50%'}
                                        %a{:href => 'https://www.cosmeticru.com/kursy-kosmetologii?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#fff; text-decoration:none;'}
                                          КОСМЕТОЛОГИЯ
                                      %td.fs-13.lh-16{:align => 'center', :style => 'font:bold 10px/12px Arial, Helvetica, sans-serif; color:#fff;', :width => '50%'}
                                        %a{:href => 'https://www.cosmeticru.com/kursy-massazha?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#fff; text-decoration:none;'}
                                          МАССАЖ
                                %th.tflex{:height => '3', :width => '0'}
                                %th.tflex{:align => 'left', :style => 'vertical-align:top;', :width => '50%'}
                                  %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                                    %tr
                                      %td.w-60p.fs-13.lh-16{:align => 'center', :style => 'font:bold 10px/12px Arial, Helvetica, sans-serif; color:#fff;', :width => '50%'}
                                        %a{:href => 'https://www.cosmeticru.com/kursy-makiyazha?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#fff; text-decoration:none;'}
                                          МАКИЯЖ И БРОВИСТИКА
                                      %td.fs-13.lh-16{:align => 'center', :style => 'font:bold 10px/12px Arial, Helvetica, sans-serif; color:#fff;', :width => '50%'}
                                        %a{:href => 'https://www.cosmeticru.com/kursy-management?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#fff; text-decoration:none;'}
                                          МЕНЕДЖМЕНТ
                  %tr
                    %td.wi-100p
                      = link_to @video_url, style: 'text-decoration:none;', target: '_blank' do
                        = image_tag image_url('mailing_letters/education_details.jpg'), alt: 'Детали обучения', style: 'width:600px; vertical-align:top;', width: '600'
                  %tr
                    %td.p-15{:style => 'padding:42px 39px 44px;'}
                      %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                        %tr
                          %td{:style => 'padding:0 0 9px; font:15px/20px Arial, Helvetica, sans-serif; color:#0e252e;'}
                            Добрый день, #{@user.first_name}!
                        %tr
                          %td{:style => 'padding:0 0 36px; font:13px/20px Arial, Helvetica, sans-serif; color:#0e252e;'}
                            %p{:style => 'margin:0 0 9px;'}
                              Спасибо, что стали нашим студентом.
                              %br/
                              Мы сделаем все, чтобы ваше обучение было увлекательным и полезным. И просим вас также сделать для этого несколько вещей.
                            %p{:style => 'margin:0 0 10px;'} Пожалуйста, внимательно посмотрите видео о том, как проходит ваше обучение по курсу "#{@course.name}", оно поможет вам правильно выстроить обучение и подготовиться к практике.
                        %tr
                          %td
                            %table{:align => 'center', :cellpadding => '0', :cellspacing => '0', :style => 'margin:0 auto;'}
                              %tr
                                %td.active-t{:align => 'center', :bgcolor => '#f61067', :style => 'mso-padding-alt:16px 18px 14px; font:bold 12px/12px Arial, Helvetica, sans-serif; border-radius:5px; text-transform:uppercase; letter-spacing:1px;'}
                                  = link_to 'Смотреть видео', @video_url, style: 'color:#fff; text-decoration:none; display:block; padding:16px 18px 14px;', target: '_blank'
                  %tr
                    %td{:bgcolor => '#ffe4e0'}
                      %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                        %tr
                          %th.tflex{:align => 'left', :style => 'vertical-align:top;', :width => '162'}
                            %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                              %tr
                                %td.active-t{:align => 'center', :bgcolor => '#3734c2', :height => '49', :style => 'mso-padding-alt:10px 10px; font:bold 10px/12px Arial, Helvetica, sans-serif; text-transform:uppercase;'}
                                  %a{:href => 'https://www.cosmeticru.com/blogs?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#fff; text-decoration:none; display:block; padding:10px 10px;'}
                                    Блог
                          %th.tflex.bb-3734c2{:align => 'left', :style => 'vertical-align:top;', :width => '146'}
                            %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                              %tr
                                %td.cta{:align => 'center', :height => '49', :style => 'mso-padding-alt:10px 10px; font:bold 10px/12px Arial, Helvetica, sans-serif; text-transform:uppercase;'}
                                  %a{:href => 'https://www.cosmeticru.com/license?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#1c1c1c; text-decoration:none; display:block; padding:10px 10px;'}
                                    Лицензии
                          %th.tflex.bb-3734c2{:align => 'left', :style => 'vertical-align:top;', :width => '145'}
                            %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                              %tr
                                %td.cta{:align => 'center', :height => '49', :style => 'mso-padding-alt:10px 10px; font:bold 10px/12px Arial, Helvetica, sans-serif; text-transform:uppercase;'}
                                  %a{:href => 'https://www.cosmeticru.com/faqs?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'color:#1c1c1c; text-decoration:none; display:block; padding:10px 10px;'}
                                    Ответы на вопросы
                          %th.tflex{:align => 'left'}
                            %table{:align => 'center', :cellpadding => '0', :cellspacing => '0', :style => 'margin:0 auto;'}
                              %tr
                                %td.active-i{:height => '49', :style => 'font-size:1px; line-height:1px; mso-line-height-rule:at-least;'}
                                  %a{:href => 'https://vk.com/institutdrk?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'text-decoration:none;'}
                                    = image_tag image_url('mailing_letters/ico-vk.png'), alt: 'VK', style: 'width:21px; vertical-align:top; display:block;', width: '21'
                                %td{:style => 'font-size:1px; line-height:1px; mso-line-height-rule:at-least;', :width => '17'}
                                %td.active-i
                                  %a{:href => 'https://www.facebook.com/InstitutDRK/?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'text-decoration:none;'}
                                    = image_tag image_url('mailing_letters/ico-fb.png'), alt: 'FB', style: 'width:8px; vertical-align:top; display:block;', width: '8'
                                %td{:style => 'font-size:1px; line-height:1px; mso-line-height-rule:at-least;', :width => '14'}
                                %td.active-i
                                  %a{:href => 'https://www.youtube.com/user/institutdrk?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'text-decoration:none;'}
                                    = image_tag image_url('mailing_letters/ico-yt.png'), alt: 'YT', style: 'width:19px; vertical-align:top; display:block;', width: '19'
                                %td{:style => 'font-size:1px; line-height:1px; mso-line-height-rule:at-least;', :width => '14'}
                                %td.active-i
                                  %a{:href => 'https://www.instagram.com/institutdrk/?utm_source=email&utm_medium=email_outofcloud&utm_campaign=t2.1', :style => 'text-decoration:none;'}
                                    = image_tag image_url('mailing_letters/ico-insta.png'), alt: 'INSTA', style: 'width:16px; vertical-align:top; display:block;', width: '16'
            %tr
              %td.p-15{:style => 'padding:31px 39px; font:11px/18px Arial, Helvetica, sans-serif; color:#656565;'}
                АНО ДПО «Институт КЭМВИ — ДРК»
                %br/
                ИНН 7728516890/КПП
                %a{:style => 'color:#656565; text-decoration:none; pointer-events:none;'} 772801001
                %br/
                Факт.адрес:
                %a{:style => 'color:#656565; text-decoration:none; pointer-events:none;'} Москва, Б. Татарская ул., д. 35 с. 3 (с 10 сентября 2018 года)
                %br/
                Тел.:
                %a{:href => 'tel:+74951912324', :style => 'color:#656565; text-decoration:none;'} +7 (495) 191-23-24
                %br/
                %br/
                © Автономная некоммерческая организация дополнительного профессионального образования «Институт косметологии, эстетической медицины и визажного искусства — Дом Русской Косметики»