%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

- if @payments.any?
  %tr
    %td{border: '0', style: 'text-align:center;'}
      %p{style: 'margin: 0;text-align: left;'}= ty("Напоминаем, что до #{format_date_full(@payments.first.payed_on)} вам необходимо заплатить за обучение в Доме Русской Косметики по курсам:")
      - @payments.each do |payment|
        %p{style: 'margin: 0;text-align: left;'}= ty("По курсу “#{payment.course.name}” сумма платежа: #{payment.amount} руб.")
      %p{style: 'margin: 0;text-align: left;'}= ty('Благодарим вас за своевременную оплату обучения.')
      %p{style: 'margin: 0;text-align: left;'}= ty('В случае нарушения сроков оплаты обучения вам будет закрыт доступ в систему дистанционного обучения.')

- if @urls.any?
  %tr
    %td{border: '0', style: 'text-align:center;'}
      - if @urls.count > 1
        %p{style: 'margin: 0;text-align: left;'}= "Вы можете оплатить обучение картой на сайте #{@urls.first[0]} по #{link_to 'ссылке', @urls.first[1]} и на сайте #{@urls.second[0]} по #{link_to 'ссылке', @urls.second[1]}. К письму также приложена подробная инструкция по оплате обучения онлайн.".html_safe
      - else
        %p{style: 'margin: 0;text-align: left;'}= "Вы можете оплатить обучение картой на нашем сайте по #{link_to 'ссылке', @urls.first[1]}. К письму также приложена подробная инструкция по оплате обучения онлайн.".html_safe