%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      = ty('Ваше обучение подходит к концу и мы готовим ваши дипломы и сертификаты.')
      %br
      = ty('К сожалению, у вас есть ряд академических задолженностей. Вам нужно срочно закрыть их, иначе мы не сможем аттестовать вас. Вот ваши задолженности:')
      - if @work_names.present?
        %br
        = ty("Вы не сдали практические экзамены по дисциплинам: #{@work_names.join(', ')}")
      - if @leacture_names.present?
        %br
        = ty("Вы не сдали в системе дистанционного обучения тесты в лекциях: #{@lecture_names.join(', ')}")
      %br
      = ty('Пожалуйста, сдайте тесты и экзамены по этим предметам.')
      = ty('Доступ к системе дистанционного обучения сохранится у вас еще на полгода после окончания сроков обучения по курсу.')