%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      = ty('Если вы еще не предоставили нам копии ваших документов об образовании, пожалуйста, пришлите их в ближайшие два дня на электронную почту: delo@cosmeticru.com')
      %br
      = ty('В этом случае мы сможем выдать вам документ об образовании в день окончания учебы.')
      %br
      = ty('Вы можете принести документы об образовании в первый день занятий, но в этом случае сертификаты о том, что вы прошли обучение, будут выписаны только через три дня после занятий и вам придется приехать к нам еще раз.')
      %br
      = ty('Вот список документов, которые мы от вас ждем:')
      %br
      = ty('Диплом о высшем или среднем специальном образовании')
      %br
      = ty('Паспорт (первая страница и прописка)')
      %br
      = ty('Свидетельство о заключении брака и смене фамилии (если в дипломе и паспорте фамилии разные).')
      %br
      = ty('Приятной учебы.')
