%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center; padding:20px 0 20px 0;'}
    %p{style: 'margin: 0;text-align: left;'}= ty('У Института поменялись реквизиты. Будьте внимательны при оплате обучения через банк. Если вы заплатите по старым реквизитам - платеж не пройдет и может потеряться.')

%tr
  %td{border: '0', style: 'text-align:center; padding:20px 0 20px 0;'}
    %p{style: 'margin: 0;text-align: left;'}= ty('Вот верные реквизиты:')
    %p{style: 'margin: 0;text-align: left;'}= ty('Наименование: АНО ДПО «Институт КЭМВИ-ДРК»')
    %p{style: 'margin: 0;text-align: left;'}= ty('ИНН 7728434782')
    %p{style: 'margin: 0;text-align: left;'}= ty('ОГРН 1187700011564')
    %p{style: 'margin: 0;text-align: left;'}= ty('Расчетный рублевый счет: 40703810101880000013')
    %p{style: 'margin: 0;text-align: left;'}= ty('АО «АЛЬФА-БАНК» г. Москва')
    %p{style: 'margin: 0;text-align: left;'}= ty('БИК 044525593')

%tr
  %td{border: '0', style: 'text-align:center; padding:20px 0 20px 0;'}
    %p{style: 'margin: 0;text-align: left;'}= ty('Хорошего вам дня!')