- course_document = f.object
.add_ctn.add_document{data: {course_document: course_document.try(:id) || f.index}, style: (f.index != 0 && 'display: none;')}
  - unless course_document.new_record?
    = f.hidden_field :id
  = f.hidden_field :_destroy, data: {destroy: true}
  .mb-3
    %h6.tx-center Добавить выпускные документы
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-6.grid_i__prefix-1-10
      %label.form_el.form_label Уровень образования
    .grid_i.grid_i__grid-3-6
      .form_el.js-form_el
        = f.select :education_level_id, EducationLevel.ordered.map{|el| [el.title, el.id]}, {}, class: 'form_el_tag form_select_tag selectordie js-education-level', data: {size: 5}
    .grid_i.grid_i__grid-2-6.grid_i__prefix-1-10
      %label.form_el.form_label Документ
    .grid_i.grid_i__grid-3-6
      .form_el.js-form_el
        = f.select :education_document_id, EducationDocument.ordered.map{|el| [el.title, el.id]}, {}, class: 'form_el_tag form_select_tag selectordie js-education-document', data: {size: 5}
    .grid_i.grid_i__grid-2-6.grid_i__prefix-1-10
      %label.form_el.form_label Академические часы
    .grid_i.grid_i__grid-3-6
      .form_el.js-form_el.form_tx
        = f.text_field :academic_hours, class: 'form_el_tag form_tx_tag'
    .grid_i.grid_i__grid-2-6.grid_i__prefix-1-10
      %label.form_el.form_label Название программы
    .grid_i.grid_i__grid-3-6
      .form_el.js-form_el.form_tx
        = f.text_field :program_name, class: 'form_el_tag form_tx_tag'
    .grid_i.grid_i__grid-2-6.grid_i__prefix-1-10
      %label.form_el.form_label Заголовок диплома
    .grid_i.grid_i__grid-3-6
      .form_el.js-form_el.form_tx
        = f.text_field :diploma_title, class: 'form_el_tag form_tx_tag'