%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'акции' => admin_promotions_path}
      %h3.tx-center АКЦИИ
      .form__admin
        .admin_header.tx-center
          .header_inner
            = link_to new_admin_promotion_path, class: 'a_under' do
              %span.icon-add> +
              Добавить акцию
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-3-9>
                %p Название
              .grid_i.grid_i__grid-4-9>
                %p Анонс
              .grid_i.grid_i__grid-1-9>
                %p Виден
              .grid_i.grid_i__grid-1-9>
                %p.tx-right
                  действия
          .grid.grid__collapse
            = render collection: @promotions, partial: 'promotion'
      = will_paginate @promotions, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
