.page.page--promo
  = render 'layouts/courses_shop/promo/for_business'

  .tab.js-tab(data-id='#consulting')
    .page-section
      .container
        .content-announce
          .content-announce__text
            %p В&nbsp;нашем портфолио более 50&nbsp;созданных с&nbsp;нуля и&nbsp;успешно работающих салонов красоты, клиник и&nbsp;СПА-центров.
            %p Направления работы: комплексные услуги по&nbsp;созданию предприятий индустрии красоты (салонов, клиник, СПА-центров); помощь действующим предприятиям в&nbsp;модернизации и&nbsp;развитии бизнеса; консультационные услуги по&nbsp;созданию и&nbsp;управлению предприятиями красивого бизнеса; тренинговые и&nbsp;коучинговые услуги для руководителей и&nbsp;сотрудников салонов красоты, клиник, спа-центров.
        -#.content-narrow
          .content.js-content
            %iframe(src='https://www.youtube.com/embed/xI6i6SAAKI8' width='560' height='315' frameborder='0' allowfullscreen)
    .page-section.page-section--background
      .container
        .h3.page-section__title Наши услуги
        .content-narrow
          .content
            %table.services-table
              %thead
                %tr
                  %th Наименование услуги
                  %th Стоимость
              %tbody
                %tr
                  %td Разработка бизнес-плана (маркетинг, имидж-концепция, финансовый план (ТЭО), план организационных мероприятий, оборудование и&nbsp;оснащение, персонал, этапы реализации проекта)
                  %td 180&nbsp;000&nbsp;руб./мес
                %tr
                  %td Проект приспособления, технологический проект (планировочное решение, спецификации, планы размещения и&nbsp;технические характеристики технологического оборудования и&nbsp;мебели, ТЗ&nbsp;для инженерного проектирования)
                  %td от&nbsp;60&nbsp;000&nbsp;руб.
                %tr
                  %td Архитектурный проект и&nbsp;дизайн-проект (3D&nbsp;визуализация, авторский надзор)
                  %td от&nbsp;1&nbsp;000&nbsp;руб./1&nbsp;м<sup>2</sup>
                %tr
                  %td Инженерный проект (архитектурное решение, вода/канализация, отопление/вентиляция, электрика)
                  %td 150&nbsp;000&ndash;450&nbsp;000&nbsp;руб.
                %tr
                  %td Ремонт с&nbsp;материалами и&nbsp;декором
                  %td 20&nbsp;000&ndash;50&nbsp;000&nbsp;руб./м<sup>2</sup>
                %tr
                  %td Оборудование
                  %td 900&nbsp;000&ndash;15&nbsp;000&nbsp;000&nbsp;руб.
                %tr
                  %td Исходная юридическая и&nbsp;разрешительная документация, лицензии
                  %td 90&nbsp;000&ndash;450&nbsp;000&nbsp;руб.
                %tr
                  %td Рекламная кампания, фирменный стиль
                  %td 300&nbsp;000&ndash;900&nbsp;000&nbsp;руб.
                %tr
                  %td Подбор персонала, разработка корпоративных документов, обучение на&nbsp;рабочих местах
                  %td 150&nbsp;000&nbsp;руб.
                %tr
                  %td Разработка меню услуг. Технологическая документация
                  %td 150&nbsp;000&nbsp;руб.
                %tr
                  %td Управление проектом на&nbsp;нулевом цикле (с&nbsp;момента утверждения бизнес-плана до&nbsp;официального открытия), срок реализации проекта &laquo;под ключ&raquo;&nbsp;&mdash; 6&ndash;9&nbsp;месяцев.
                  %td 90&nbsp;000&nbsp;руб./мес
              %tfoot
                %tr
                  %td(colspan='2')
                    = render 'layouts/courses_shop/hr_small'



  .tab.js-tab(data-id='#partners')
    .page-section
      .container
        = render 'layouts/courses_shop/components/partners_items'
        = render 'layouts/courses_shop/components/pagination_simple'



  .tab.js-tab(data-id='#regional-schools')
    .page-section
      .container
        .content-announce
          .content-announce__text
            %p Дом Русской Косметики сотрудничает с&nbsp;региональными центрами подготовки косметологов: мы&nbsp;реализуем совместные программы обучения в&nbsp;регионах, ищем базы практики и&nbsp;проводим выездные семинары.
        -#.content-narrow
          .content.js-content
            %iframe(src='https://www.youtube.com/embed/xI6i6SAAKI8' width='560' height='315' frameborder='0' allowfullscreen)



  .tab.js-tab(data-id='#manufacturers-and-dealers')
    .page-section
      .container
        .content-announce
          .content-announce__text
            %p Сотрудничество с&nbsp;косметическими компаниями&nbsp;&mdash; еще одно направление внешних связей. В&nbsp;качестве наших партнеров всегда выступали ведущие российские и&nbsp;международные компании, которые доказали свое соответствие высоким стандартам качества.
        .content-narrow
          .content.js-content
            %p Распространенная форма взаимодействия&nbsp;&mdash; это патронаж частными фирмами учебного процесса Института, в&nbsp;ходе которого они предоставляют для профессиональной подготовки наших студентов свою высококлассную косметическую продукцию, раскрывают состав средств и&nbsp;предоставляют протоколы процедур. Фирмы, участвующие в&nbsp;патронаже, также проводят мастер-классы для слушателей Института и&nbsp;презентуют новинки своих косметических линий. Они активно поддерживают студентов: гарантируют скидки на&nbsp;покупку профессиональных средств и&nbsp;премируют отличников.
            %p Институт, в&nbsp;свою очередь, предоставляет консалтинговые и&nbsp;экспертные услуги для наших компаний-партнеров, в&nbsp;частности, проводит независимые клинические наблюдения за&nbsp;результатами использования косметической продукции в&nbsp;профессиональном уходе за&nbsp;внешностью и&nbsp;выявляет наиболее интересные результаты и&nbsp;перспективные методики. Данные, полученные в&nbsp;ходе таких экспертиз, становятся основой для материалов российских СМИ, ложатся в&nbsp;основу методических разработок и&nbsp;рекомендаций, фигурируют в&nbsp;докладах на&nbsp;научно-практических конференциях и&nbsp;включаются в&nbsp;обзоры рынка.
            %figure
              = image_tag 'https://placehold.it/500x300?text=∴', alt: ''
              %figcaption Длина строки подписи к&nbsp;фото равняется ширине размещённого на&nbsp;странице изображения



  .tab.js-tab(data-id='#mass-media')
    .page-section
      .container
        .content-announce
          .content-announce__text
            %p Дом Русской Косметики&nbsp;&mdash; ведущий Российский исследовательский центр в&nbsp;области косметологии, индустрии красоты и&nbsp;моды. Наши преподаватели и&nbsp;эксперты могут дать оперативный и&nbsp;компетентный комментарий практически на&nbsp;все темы, связанные с&nbsp;красотой, например: применение косметики, домашние рецепты косметики, подбор и&nbsp;нанесение макияжа, сложный грим для кино, история косметики, парфюмерии, грима и&nbsp;макияжа, моды и&nbsp;стиля; бизнес в&nbsp;области красоты; СПА.
            %p Визажисты ДРК могут создать сложный грим для теле- сюжетов, на&nbsp;территории Института вы&nbsp;можете провести съемку косметологических процедур.
            %p
              %b Контакт для представителей СМИ: <a href='tel:84956424399'>+7&nbsp;495 642-43-99</a>
        -#.content-narrow
          .content.js-content
            %iframe(src='https://www.youtube.com/embed/xI6i6SAAKI8' width='560' height='315' frameborder='0' allowfullscreen)



  .tab.js-tab(data-id='#corporate-education')
    .page-section
      .container
        .content-announce
          .content-announce__text
            %p Дом Русской Косметики (ДРК) обучает специалистов для корпоративных заказчиков с&nbsp;1992&nbsp;года. Одним из&nbsp;первых корпоративных клиентов Института была шведская компания Oriflame. Среди корпоративных заказчиков ДРК есть крупные аптечные сети (36&rsquo;6), интернет-компании (SUP Media), производители косметики (DeSheli) и&nbsp;сети салонов красоты и&nbsp;фитнес клубов (Зебра Фитнес).
            %p Мы&nbsp;можем организовать для вашей компании корпоративное обучение косметологов и&nbsp;визажистов с&nbsp;нуля, сертификационный курс повышения квалификации с&nbsp;зачетом практики на&nbsp;рабочем месте, краткосрочные курсы по&nbsp;модным технологиям (инъекции, массаж лица, СПА), тренинги по&nbsp;бизнесу, продажам услуг в&nbsp;сфере красоты, работе с&nbsp;клиентами.
        -#.content-narrow
          .content.js-content
            %iframe(src='https://www.youtube.com/embed/xI6i6SAAKI8' width='560' height='315' frameborder='0' allowfullscreen)



  .tab.js-tab(data-id='#recruitment')
    .page-section
      .container
        .content-announce
          .content-announce__text
            %p Кадровое агентство Дома русской косметики оказывает услуги по&nbsp;подбору персонала для салонов красоты, косметических компаний, СПА-центров, клиник эстетической медицины и&nbsp;фитнес-клубов.
            %p Любой работодатель может бесплатно разместить свою вакансию на&nbsp;странице кадрового центра ДРК. Центр также оказывает платные услуги по&nbsp;поиску и&nbsp;подбору сотрудников на&nbsp;определенные позиции.
            %p Среди партнеров кадрового центра ДРК&nbsp;&mdash; крупнейшие работодатели отрасли красоты: Лореаль, Единая Европа Холдинг, Линлайн, Aldo Coppola, Интерконтиненталь.
            %p
              %b Контакт для работодателей: <a href='mailto:kris@cosmeticru.com'>kris@cosmeticru.com</a>