<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" ss:ID="sTitle">
      <Alignment ss:Horizontal="Center"/>
      <Font ss:Bold="1"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Платежи">
    <Table>
      <Column ss:Width="150"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>

      <Row>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">ФИО</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Группа студента</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Курс группы</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Дата отчисления</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">К возврату, руб.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Оплачено учащимся, руб.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Регистрационный взнос, руб.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Кол-во часов в программе, ак.час.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Стоимость программы, руб.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Количество часов, посещенных на момент написания заявления, ак.час.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Стоимость занятий, посещенных на момент написания заявления, руб.</Data></Cell>
        <Cell ss:StyleID="sTitle"><Data ss:Type="String">Стоимость дистанционной теории, руб.</Data></Cell>
      </Row>

      <% @refunds.each do |refund| %>
          <Row>
            <Cell><Data ss:Type="String"><%= refund.student_full_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= refund.group_title %></Data></Cell>
            <Cell><Data ss:Type="String"><%= refund.course_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_date(refund.expelled_on) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.refund %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.payed %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= Refunds::REGISTRATION_FEE %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.course_hours %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.price %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.passed_hours %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.passed_hours_price %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= refund.remote_price %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>