%main#main.library{role: 'main'}
  %section.info_page{role: 'region', aria: {label: 'Index'}}
    .ctn
      %header.flowers.flowers_3
        .flowers_inner
          %h1 ОБУЧАЮЩАЯ ПРЕЗЕНТАЦИЯ

      - if @tutorial.pdf_present?
        .grid
          .grid_i.grid_i__grid-3-4.grid_i__prefix-1-8
            .fotorama{data: {allowfullscreen: 'native', arrows: 'always', nav: 'false'}}
              - @tutorial.pdf_images.each do |pdf_image|
                = link_to nil, pdf_image.image_url(:main)
            %p.tx-center.mt-1 Страница 1 из #{@tutorial.pdf_images.count}
      - else
        .tx-center
          = @tutorial.value.try(:html_safe)

      = form_tag hide_tutorial_path, method: :put, class: 'form js-form profile_edit' do
        .tx-center.mb-3
          %label.form_el.form_label.form_label__el
            .form_el.js-form_el.form_checkbox
              = check_box_tag :hide_tutorial, '1', false, class: 'form_el_tag form_checkbox_tag'
            %p.form_el_inner.form_label_inner Больше не показывать презентацию

        .tx-center
          .form_el.js-form_el.form_btn
            %p.form_el_inner.form_btn_inner ПЕРЕЙТИ К ОБУЧЕНИЮ
            = submit_tag '', class: 'form_el_tag form_btn_tag'