%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'группы' => admin_groups_path, @group.name.presence => edit_admin_group_path(@group), 'приказ о зачислении' => '#'}
      %h3.tx-center Приказ о зачислении
      = form_for @group, url: admin_group_addition_order_path(@group), method: :put, html: {class: 'form js-form form__admin', autocomplete: 'off'} do |f|
        .admin_header
          - if @addition_order.generated?
            = link_to 'Скачать', download_admin_generated_document_path(@addition_order), class: 'a_under'
          - if @addition_order.try(:user_file).present?
            = link_to 'Копия', admin_private_file_path(file: @addition_order.user_file.url), target: '_blank', class: 'a_under'
        .admin_body
          .admin_settings_change
            = f.fields_for :addition_order, @addition_order do |contract_fields|
              .mt-1
                %label.form_el.form_label Номер приказа:
                .form_el.js-form_el.form_tx
                  = contract_fields.text_field :number, class: 'form_el_tag form_tx_tag'
              .mt-1
                %label.form_el.form_label Дата приказа:
                .form_el.js-form_el.form_tx
                  = contract_fields.text_field :created_on, class: 'form_el_tag form_tx_tag js-datepicker', value: format_date(@addition_order.created_on), readonly: true
              .mt-1
                .form_el.js-form_el.form_file{data: {placeholder: "#{ @addition_order.user_filename || 'Загрузить копию'}"}}
                  %p.form_el_inner.js-form_el_inner.form_file_inner
                  %input.form_el_tag.form_file_tag.js-user-file{:type => 'file'}
                  = contract_fields.hidden_field :user_file_cache, data: {file_cache: true}
          .grid.mt-2
            .grid_i.grid_i__grid-1-2>
              .form_el.js-form_el.form_btn.form_el_block
                %p.form_el_inner.form_btn_inner СОХРАНИТЬ
                = button_tag type: 'submit', class: 'form_el_tag form_btn_tag'

- content_for :js do
  = javascript_include_tag 'admin/subscription_contract'