%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@user.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}
      %i= 'Поздравляем вас с началом обучения<br>в Доме Русской Косметики.'.html_safe

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %hr{width: '220', style: 'margin: 0;'}/

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Вам открыт доступ к системе дистанционного обучения к курсам:

= render 'cosmetology_mailer/course', course: @subscription.course

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Вот ваши логин и пароль для входа в систему:

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Логин: #{@user.email}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Пароль: #{@user.password}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Ссылка для входа:
      = link_to root_url(subdomain: 'sdo'), root_url(subdomain: 'sdo')

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Ваш номер группы:

= render 'cosmetology_mailer/group', group: @subscription.group , course: @subscription.course
= render 'student_alert'

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Вам нужно перейти по ссылке, указанной в письме, ввести логин и пароль для входа в систему, а затем кликнуть по названию вашего курса.
    %p{style: 'margin: 0;text-align: left;'} Это письмо - ваш единственный доступ в систему, никаких других доступов вам не нужно, вы можете проходить курс прямо сейчас.
    %p{style: 'margin: 0;text-align: left;'} Доступ к&nbsp;материалам курса в&nbsp;системе остается открытым еще шесть месяцев после окончания обучения, чтобы вы&nbsp;могли освежить ваши знания.