- group_subscription = order_group_subscription.group_subscription
- course = group_subscription.course
- group_price = group_subscription.group_price
%li.basket__item.js-basket-item
  .basket__item-checkbox.checkbox-input(data-size='lg')
    = f.check_box :group_subscription_ids, {disabled: true, checked: true, multiple: true, class: 'js-basket-item-toggle', id: "subscription_#{group_subscription.id}"}, group_subscription.id, nil
    %span

  // Using 'selected-true' instead of simple 'true' because of browsers omits 'true' to empty ''
  %article.course-item.js-course-item{data: {selected: 'selected-true'}}
    = link_to alternative_course_url(course), class: "course-item__image js-hover #{promotion_class(course)}", data: promotion_data(course)do
      = image_tag course_small_image(course), alt: course.title
    .course-item__content
      %ul.course-meta
        %li
          %svg.icon(role='img' data-size='18')
            %use(xlink:href='/assets/courses_shop/icons.svg#calendar')
          %span= education_period(group_subscription.group)
        %li
          %svg.icon(role='img' data-size='18')
            %use(xlink:href='/assets/courses_shop/icons.svg#clock')
          %span= education_schedule(group_subscription.group)
        - unless group_price.one_time_payment?
          %li
            %svg.icon(role='img' data-size='18')
              %use(xlink:href='/assets/courses_shop/icons.svg#calculator')
            %span= "#{format_money(group_price.amount)} полная стоимость".html_safe
      .h4.course-item__title
        = link_to course.name, alternative_course_url(course), class: 'js-hover'
      .course-item__price
        - if group_price.one_time_payment?
          %b= format_money(group_price.amount)
          %p Полная оплата курса
        - else
          %b= "#{format_money(group_price.payment_amounts.first)}/мес".html_safe
          %p Первый взнос
      %ul.course-item__actions
        %li
          = link_to 'Изменить', edit_courses_shop_group_subscription_path(group_subscription), class: 'button button--action-fill', 'data-size' => 'sm', 'data-type' => 'text', 'data-mfp-type' => 'ajax'
        %li
          = link_to courses_shop_group_subscription_path(group_subscription), class: 'button button--action-fill js-delete-group-subscription', data: {course_id: course.id, size: 'sm', type: 'icon'} do
            %svg.icon(role='img' data-size='18')
              %use(xlink:href='/assets/courses_shop/icons.svg#trash')