%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      .content
        = render 'admin/breadcrumbs', crumbs: {'письма' => admin_letters_path, 'новое письмо' => '#'}
      %h3.tx-center= 'НОВОЕ ПИСЬМО'

      = form_for [:admin, @letter], html: {class: 'form js-form form__admin js-letter-form'} do |f|
        .admin_header
          %label.form_el.form_label Заголовок:
          .form_el.js-form_el.form_tx
            = f.text_field :subject, class: 'form_el_tag form_tx_tag'
        .admin_body
          %div.form_el-select.form_el-select--big-line
            %label.form_el.form_label Кому:
            .form_el.js-form_el.form_tx{data: error_data_attributes(f,:student_id)}
              - select_html_options = {class: 'js-course-select2', data: {size: 10}}
              = f.select :student_id, options_for_select(@students, @letter.student_id), {include_blank: 'не выбрано'}, select_html_options
            = errors_text f, :student_id
          .autocomplete_variants
          %div
            .form_el.js-form_el.form_el__block.form_textarea
              = f.text_area :body, placeholder: 'Текст', rows: 4, class: 'form_el_tag form_textarea_tag'
            -if @sending_error
              .form_error= @sending_error
          .admin_footer
            .grid
              .grid_i.grid_i__grid-1-4>
                .form_el.js-form_el.form_btn.form_btn__small
                  %p.form_el_inner.form_btn_inner ОТПРАВИТЬ
                  = button_tag type: 'submit', class: 'form_el_tag form_btn_tag', name: 'commit', value: 'save'
              .grid_i.grid_i__grid-1-2.grid_i__prefix-1-4.tx-right>
                = link_to 'Отмена', admin_letters_path, class: 'a_under'
= content_for :js do
  = javascript_include_tag 'admin/filter_groups'
