%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'письма' => '#'}
      %h3.tx-center ПИСЬМА
      .form__admin
        .admin_header.tx-center
          .header_inner
            = link_to new_admin_letter_path, class: 'a_under' do
              %span.icon-add> +
              Написать
        .admin_body.table.table_base-color
          .grid.grid__collapse
            = render collection: @letters, partial: 'admin/letters/letter'
      = will_paginate @letters, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
