- nearest_group = course.nearest_group
.courses-cards__card
  %article.course-card.js-course-card{class: promotion_class(course), data: promotion_data(course)}
    .course-card__inner
      .course-card__image.js-course-card-image
        = image_tag course.image? ? course.image_url(:thumb) : placeholder_url('370x210'), alt: course.name
      .course-card__content.js-course-card-content
        - if nearest_group
          %ul.course-meta.course-card__meta.js-course-card-meta
            %li
              %svg.icon(role='img' data-size='18')
                %use(xlink:href='/assets/courses_shop/icons.svg#calendar')
              %span= education_period(nearest_group)
            %li
              %svg.icon(role='img' data-size='18')
                %use(xlink:href='/assets/courses_shop/icons.svg#user')
              %span= free_places_text(nearest_group)
        .h5.course-card__title
          = link_to course.title, alternative_course_url(course), class: 'js-hover', data: { course_id: course.id }
        - if course.announcement.present?
          = simple_format(course.announcement, class: 'course-card__announce')

        - if format_course_price(course)
          %p.course-card__price= format_course_price(course)

        %ul.course-card__actions
          %li
            = link_to 'Подробнее', '#', title: course.name.html_safe,
                                        class: 'button button--base-outline js-hover js-course-link',
                                        data: { course_id: course.id,
                                                url: alternative_course_url(course),
                                                size: 'sm' }
          %li
            = render 'courses_shop/common/sign_on_course_button', course: course