.popup.bg-muted
  .mb-3.tx-center
    %h5 ОТЧЕТ ПО СТУДЕНТАМ

  = form_tag admin_period_orders_path, html: {class: 'form js-form', remote: true} do
    .grid
      .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
        %label.form_el.form_label Начало
      .grid_i.grid_i__grid-1-2>
        .form_el.js-form_el.form_tx
          = text_field_tag :begin_at, nil, class: 'form_el_tag form_tx_tag js-datepicker', value: format_date(Date.current.beginning_of_year), autocomplete: 'off'
      .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
        %label.form_el.form_label Окончание
      .grid_i.grid_i__grid-1-2>
        .form_el.js-form_el.form_tx
          = text_field_tag :end_at, nil, class: 'form_el_tag form_tx_tag js-datepicker', value: format_date(Date.current.end_of_year), autocomplete: 'off'
      .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
        %label.form_el.form_label Дата приказа
      .grid_i.grid_i__grid-1-2>
        .form_el.js-form_el.form_tx
          = text_field_tag :date, nil, class: 'form_el_tag form_tx_tag js-datepicker', value: format_date(Date.current), autocomplete: 'off'
      .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
        %label.form_el.form_label Номер приказа
      .grid_i.grid_i__grid-1-2>
        .form_el.js-form_el.form_tx
          = text_field_tag :number, nil, class: 'form_el_tag form_tx_tag', autocomplete: 'off'
      .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
        %label.form_el.form_label Тип отчета
      .grid_i.grid_i__grid-1-2>
        .form_el.js-form_el.form_el-select
          = select_tag :type, options_for_select([['Приказ о зачислении', 'AdditionPeriodOrder'], ['Приказ об отчислении', 'ExpulsionPeriodOrder']]), class: 'selectordie form_el_tag form_select'
      .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
      .grid_i.grid_i__grid-5-12.grid_i__prefix-3-10>
        .form_el.js-form_el.form_btn
          %p.form_el_inner.form_btn_inner СГЕНЕРИРОВАТЬ
          %input.form_el_tag.form_btn_tag{type: 'submit', value: ''}
    .icon_del.arcticmodal-close X

:javascript
  $(function(){
    initDatepicker();
    $('.selectordie').selectOrDie();
  });