.popup.bg-muted
  .mt-3.mb-3
    = form_for [:admin, @manager], as: :user, remote: true, html: {id: 'edit_user_form', class: 'form js-form'} do |f|
      .alert{style: 'display: none;'}
      .grid
        .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
          = f.label :last_name, class: 'form_el form_label'
        .grid_i.grid_i__grid-1-2>
          .form_el.js-form_el.form_tx
            = f.text_field :last_name, class: 'form_el_tag form_tx_tag'
        .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
          = f.label :first_name, class: 'form_el form_label'
        .grid_i.grid_i__grid-1-2>
          .form_el.js-form_el.form_tx
            = f.text_field :first_name, class: 'form_el_tag form_tx_tag'
        .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
          = f.label :email, class: 'form_el form_label'
        .grid_i.grid_i__grid-1-2>
          .form_el.js-form_el.form_tx
            = f.email_field :email, class: 'form_el_tag form_tx_tag'
        .grid_i.grid_i__grid-1-5.grid_i__prefix-1-10>
          = f.label :password, class: 'form_el form_label'
        .grid_i.grid_i__grid-1-2>
          .form_el.js-form_el.form_tx
            = f.password_field :password, class: 'form_el_tag form_tx_tag'
        .grid_i.grid_i__grid-5-12.grid_i__prefix-3-10>
          .form_el.js-form_el.form_btn
            %p.form_el_inner.form_btn_inner СОХРАНИТЬ
            %input.form_el_tag.form_btn_tag{type: 'submit', value: ''}
      .icon_del.arcticmodal-close X
= javascript_include_tag 'admin/edit_user_from'