.grid_i.grid_i__grid-4-9>
  = campaign_index.campaign
.grid_i.grid_i__grid-1-9.tx-right>
  = campaign_index.clicks
.grid_i.grid_i__grid-1-9.tx-right>
  = campaign_index.shows
.grid_i.grid_i__grid-1-9.tx-right>
  = campaign_index.visits
.grid_i.grid_i__grid-1-9.tx-right>
  = campaign_index.calls
.grid_i.grid_i__grid-1-9.tx-right>
  = campaign_index.charges