.grid.grid__collapse{data: {questions_count: @task.items_count.to_i, answered_questions_count: 0}}
  .grid_i.grid_i__grid-1-1>
    = f.fields_for :result_test_items do |item_fields|
      = render 'tasks/additional/question', f: item_fields
  .grid_i.grid_i__grid-1-3.grid_i__prefix-1-4>
    .mt-4
      .form_el.js-form_el.form_el__block.form_btn
        %p.form_el_inner.form_btn_inner ОТПРАВИТЬ
        = button_tag 'save', class: 'form_el_tag form_btn_tag', disabled: true, type: 'button', id: 'submit_test', data: {disable_with: 'Подождите...'}
  .grid_i.grid_i__grid-1-9.grid_i__prefix-1-12>
    .mt-4
      .form_el.js-form_el.form_el__block.form_btn
        %p.form_el_inner.form_btn_inner >>
        = button_tag 'next', class: 'form_el_tag form_btn_tag', type: 'button', id: 'next_question'
  .grid_i.grid_i__grid-1-1>
    .mt-8
      = lecture_link

- content_for :js do
  = javascript_include_tag 'test_task'